.category_container{
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    color: #ffff;
}
@media screen and (min-width: 300px) and (max-width: 400px){
    .container{
        border: 2px solid pink;
        width: 100%;
    }
    .row{
        /* border: 2px solid rgb(0, 255, 64); */
        width:100%
    }
}