.ordercard{
    border:2px solid rgb(249, 250, 249);
    width: 100%;
    background: #ffff;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.img_order{
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_prc{
    /* border: 3px solid green; */
    margin: 0px;
    padding: 5px;
    
}
.order_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
    width: 50%;
}
.order_data{
    border:3px solid rgb(255, 251, 251);
    width: 100%;
    /* margin-bottom: 10px;  */
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 20px;
   
}
.Order_conatiner{
    border: 5px solid greenyellow;
    height: 85vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: visible; */
}

.order_card{
    /* border: 2px solid greenyellow; */
    width: 100%;
}
.order_main{
    border: 1px solid rgb(247, 241, 241);
    margin: auto;
    padding: 10px;
    background: 0,0,0,0.5;
    border-radius: 20px;
}
@media screen and (min-width:300px) and (max-width:750px) {
    .order_main{
        width: 100%;
        padding: 0px;
    }
}